.about-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;

  .about-title {
    font-size: 36px;
    font-weight: lighter;
  }

  .about-card {
    background-color: rgba(255, 255, 255, 0.15);
    width: 710px;
    height: 560px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
  }

  .about-text {
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    margin-left: 10px;
  }

  .opening-hours {
    font-size: 20px;
    font-weight: lighter;
  }

  @media only screen and (max-width: 768px) {
    .about-card {
      height: 844px;
      width: 360px;
    }
  }
}
