html {
  background: #0d0d00;
}

.wrapper {
  background: #0d0d00;
}
.image {
  border: 2px solid white;
  width: 331px;
  height: 496px;
}

.img-container {
  width: 50%;
}

.aboutText {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 20px;
  width: 50%;
  float: right;
}
