.text {
  font-weight: lighter;
  font-size: 20px;
}

.image-container {
  width: 40%;
  float: right;
}

.aboutImage {
  width: 331px;
  height: 496px;
}

.title-text {
  font-size: 48px;
}

.info-text {
  text-align: justify;
  line-height: 30px;
  margin-left: 30px;
}
