.admin-image {
  background-image: url("../assets/Adminimage.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-login-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.admin-login-user {
  font-size: 36px;
}

.admin-login-input {
  width: 235px;
  height: 40px;
}

.admin-login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  width: 300px;
  height: 280px;
  border-radius: 20px;
}
