.react-calendar {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #282c34;
  border-radius: 10px;
  order: 2;
  font-family: "Segoe UI";
  width: 40%;
}

.bookBack {
  background-image: url("../assets/Adminimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 36px;
    font-weight: lighter;
  }
}

.react-calendar__navigation {
  margin-top: 5px;
  margin-bottom: 3px;
}

.calAndBut {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60%;
  justify-content: space-evenly;
  .radioBut {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    order: 1;
    label {
      color: white;
      font-family: "Segoe UI";
    }
    button {
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      border-radius: 5px;
      width: 204px;
      height: 49px;
    }
    .checked {
      background-color: #4caf50;
      color: white;
    }
    .fullbooked {
      color: red;
    }
  }
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.bookingBut {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  cursor: pointer;
}

.formWrap {
  display: flex;
  margin: 0 auto;
  order: 3;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
  height: 250px;
  max-width: 1040px;
  input {
    width: 300px;
  }
  button {
    width: 50%;
    align-items: flex-end;
    color: white;
    background-color: red;
    border: 0;
  }
  div {
    height: 130px;
  }
  div p {
    font-size: 12pt;
    color: red;
    font-weight: lighter;
    margin-top: 0;
  }
  div label {
    display: block;
    font-size: 10pt;
  }
}

.bookWrap {
  display: flex;
  flex-wrap: wrap;
}

input[type="radio"] {
  transform: scale(2.3);
  height: 7%;
  margin: 10px;
  &:after {
    background-color: red;
  }
  &:after:checked {
    background-color: orange;
  }
}

label {
  font-size: 1.7rem;
}

.fullBook {
  text-decoration: line-through;
}

@media screen and (max-width: 1600px) {
  .bookWrap {
    max-width: 1050px;
    margin: 0 auto;
  }
  .react-calendar {
    width: 380px;
    margin: 0 auto;
  }
  .calAndBut {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .calAndBut {
    flex-direction: column;
    margin-bottom: 0;
  }
  .react-calendar {
    order: 1;
  }
  .radioBut {
    order: 2;
    margin: 0 auto;
    padding-bottom: 30px;
    justify-content: space-between;
    height: 150px;
  }
}
