.bookingInfo {
  display: flex;
  width: 50vw;
  flex-direction: column;
  //   flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  //   height: 100vh;
  h2 {
    flex-grow: 1;
  }
  p {
    font-size: 11pt;
  }
}

.bookWrapper {
  background-image: url("../assets/Adminimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.welcomeMsg {
  display: flex;
  flex-direction: column;
}

.infoMsg {
  background-color: gray;
  margin: 50px;
}
