body,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Helvetica;
}

.hero-image {
  background-image: url("../assets/Background.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
